<% include header.ejs %>

<form method="POST" action="/users/addCredit">
	Summa: 	<input type="text" name="credit">
	<br>
	ID: <input type="text" name="id">	
	<br>
	<input type="submit" value="Lisää saldoa">
</form>

<% include footer.ejs %>
