<% include header.ejs %>

<div id="addprod">
<form method="POST" action="/products/addProducts">
	Nimi: <input type="text" name="name">
	Viivakoodi: <input type="text" name="barcode"> 
	Hinta: <input type="text" name="price"> 
	<input type="submit" value="Lisää">
</form>
</div>

<br>

<div id="delprod">
<form method="POST" action="/products/deleteProducts">
      <select name="prodID" >
      	<% products.forEach(function(product){ %>
      	<option value=<%=product.id%>><%=product.nimi %> <%=product.hinta%>&euro;</option>
      	<% }); %>
      </select>
      <input type="submit" value="Poista">
      </form>
</div>
<% include footer.ejs %>
