<!doctype html>
 <head>
   <title><% title %></title>
   <link rel="stylesheet" href="header.css">
 </head>

 <body>
  <div id="header">
    <h1>Uusi limukassa</h1>
    <ul>
     <li><a href="..">Etusivu</a></li>
     <li><a href="/addUserView" >Lisää käyttäjä</a></li>
     <li><a href="/deleteUserView" >Poista käyttäjä</a></li>
     <li><a href="/addProductView">Tuotteiden hallinta</a></li>
     <li><a href="/addCreditView">Lisää saldoa</a></li>
    </ul>
  </div>
  <br>
